@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

nav {
  text-align: center; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        text-decoration: none;
        color: #1E182E;
        padding: 10px 15px;
        display: block; }
        nav ul li a:hover {
          color: #D17364; }
      nav ul li img {
        width: 40px;
        padding-top: 10px; }

main {
  background-image: url("../slike/hero.jpeg");
  background-position-x: center;
  height: 640px; }
  main .headline {
    padding-top: 200px;
    text-align: center; }
    main .headline h1 {
      color: white;
      font-weight: normal;
      margin-bottom: 20px; }
    main .headline button {
      background: none;
      padding: 5px 15px;
      border: 1px solid white;
      color: white; }
      main .headline button:hover {
        background-color: white;
        color: #D17364; }

.products {
  padding: 50px 150px; }
  .products:before, .products:after {
    content: "";
    display: table; }
  .products:after {
    clear: both; }
  .products h2 {
    text-transform: uppercase;
    color: #1E182E;
    margin-bottom: 40px; }
  .products .box {
    width: 25%;
    float: left;
    padding: 10px;
    text-align: center; }
    .products .box h3 {
      text-align: right;
      text-transform: uppercase;
      color: #25496B;
      margin-bottom: 15px; }
    .products .box p {
      text-align: justify;
      color: #1E182E; }
    .products .box img {
      width: 60%;
      margin-top: 10px; }

.choose {
  background-color: #f7faff;
  padding: 50px 0; }
  .choose h2 {
    text-align: right;
    text-transform: uppercase;
    color: #1E182E;
    margin-bottom: 40px;
    margin-right: 150px; }
  .choose .options {
    width: 60%;
    margin: 0 auto;
    display: flex; }
    .choose .options .option {
      background-color: #1E182E;
      width: 33%;
      margin: 5px;
      position: relative;
      text-align: center; }
      .choose .options .option h3 {
        color: white;
        padding: 10px;
        font-weight: normal; }
      .choose .options .option p {
        color: #1E182E;
        background-color: white;
        width: 98%;
        margin: 0 auto;
        padding: 10px; }
      .choose .options .option a {
        color: white;
        text-decoration: none;
        padding: 10px;
        display: block; }
      .choose .options .option .tap {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        visibility: hidden; }
      .choose .options .option:hover {
        background-color: #D17364; }

footer {
  background-color: #1E182E;
  padding: 50px 150px;
  color: white; }
  footer:before, footer:after {
    content: "";
    display: table; }
  footer:after {
    clear: both; }
  footer h3 {
    color: #D17364;
    padding: 15px 0; }
  footer .about {
    float: left;
    width: 40%;
    text-align: justify; }
  footer .links {
    float: right;
    width: 30%; }
    footer .links ul {
      list-style: none; }
      footer .links ul li a {
        text-decoration: none;
        color: white; }

@media screen and (max-width: 1000px) {
  main .headline h1 {
    padding-left: 50px;
    padding-right: 50px; }

  .products {
    padding: 50px; }
    .products .box {
      float: none;
      width: 100%; }
      .products .box:before, .products .box:after {
        content: "";
        display: table; }
      .products .box:after {
        clear: both; }
      .products .box h3 {
        text-align: left; }
      .products .box p {
        float: left;
        width: 80%;
        padding-right: 20px;
        text-align: right; }
      .products .box img {
        float: right;
        width: 20%;
        margin: 0;
        padding: 0 20px; }

  .choose .options {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center; }
    .choose .options .option {
      width: 48%; }
      .choose .options .option .tap {
        visibility: visible; }
      .choose .options .option .click {
        visibility: hidden; }

  footer {
    padding: 50px; } }
@media screen and (max-width: 700px) {
  nav ul li {
    width: 100%;
    border-bottom: 1px solid black; }
  nav ul .logo_slika {
    display: none; }

  main {
    display: none; }

  .products h2 {
    text-align: center; }
  .products .box h3 {
    text-align: center; }
  .products .box p {
    float: none;
    width: 100%;
    text-align: justify; }
  .products .box img {
    display: none; }

  .choose .options {
    width: 90%; }
    .choose .options .option {
      width: 100%; }

  footer .about, footer .links {
    float: none;
    width: 100%; }
  footer .links ul li {
    display: inline-block;
    padding: 0 10px; } }

/*# sourceMappingURL=style.css.map */
